@model UpdatesViewModel
@{
    ViewData["Title"] = "Updates List";
}

<div class="text-center">
    <h5 class="display-4">Updates List</h5>
    @foreach (var item in Model.UpdateViewModels)
    {
        <p>@item.SummaryText</p>
    }
</div>
